$myColors: (
    white: #ffffff,
    black: #000000,
    gray: #f5f5f5,
    gray-dark-3: #a1a1a1,
    gray-dark-2: #c8c8c8,
    gray-dark-1: #ededed,
    green: #8fd0a9,
    light-blue: #8ea3ad,
    blue: #3b5c6c
);

@function getColor($name) {
    @return map_get($myColors, $name);
}