extends  layouts/main.pug
block title
    title Template - Главная
block content
    section.top
        div.container
            div.row
                div.fx-md-6
                    div.drop
                        each item  in drop
                            div.drop__item
                                div.drop__trigger
                                    span= item.title
                                    i.fa.fa-angle-down(aria-hidden="true")
                                div.drop__inner
                                    ul.drop__list.list-clear
                                        each value in item.items
                                            li.drop__value
                                                span= value
                div.fx-md-6
                    ul.top__list.list-clear
                        each item in topList
                            li.top__item
                                a.top__link(class= item.strong === "true" ? '_strong' : '', href="#")= item.value

    header.header
        div.container
            div.row
                div.fx-md-4
                    div.header__logo
                        a(href="#")
                            img(src="images/logo.png")
                div.fx-md-8
                    div.header__right
                        form.search
                            input.search__field(type="text", placeholder="Search")
                            button.search__btn
                                i.fa.fa-search
                        div.header__inner
                            ul.login.list-clear
                                li.login__item
                                    a(href="#").login__link Welcome  Login
                                li.login__item
                                    a(href="#").login__link Create an account
                            a(href="#").minicart
                                span.minicart__icon
                                    i.fa.fa-shopping-basket(aria-hidden="true")
                                span.minicart__value 0 item(s) - $0.00
    nav.menu
        div.menu__wrap
            div.container
                ul.menu__list.list-clear.clearfix
                    each item in menu
                        li.menu__item
                            a(href=item.href).menu__link= item.text

    section.slider
        div.slider__item
            div.container
                div.slider__pic
                    img(src="images/banner.jpg")
                div.slider__inner
                    div.slider__wrap
                        div.slider__align
                            div.row
                                div.fx-md-7.fx-lg-6
                                    p.slider__title Try our new
                                        strong  Collection
                                    p.slider__title._blue inspired from the cold nature
                                    p.slider__title exclusive in
                                        strong  our store
    section.about
        div.container
            div.about__wrap
                div.about__box._left
                    h3.about__title= about.title
                    p.about__text= about.text
                    a(href="#").about__btn
                        span Read More
                        i.fa.fa-chevron-circle-right(aria-hidden="true")
                div.about__box._right
                    ul.about__list.list-clear
                        each item in about.list
                            li.about__item
                                a.about__link(href=item.href)=item.text


