.about{
    background-image: url('../images/about.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: getColor(white);

    &__wrap{
        @media screen and (min-width: $screen-md-min) {
            display: table;
            width: 100%;
            vertical-align: middle;
        }
    }
    &__box{
        &._left{
            padding: 20px 0;
        }
        &._right{
            background: rgba(getColor(white), 0.2);
            padding: 0 20px;
        }
        @media screen and (min-width: $screen-md-min) {
            display: table-cell;
            vertical-align: middle;
            &._left{
                width: 75%;
                padding: 0;
            }
            &._right{
                width: 25%;
                text-align: center;
                padding: 0;
            }
        }
    }
    &__title{
        font-size: 24px;
        font-family: $normalized_font_family_second;
        font-weight: 400;
        margin: 0;
    }
    &__text{
        font-size: 14px;
    }
    &__btn{
        color: inherit;
        background-color: getColor(green);
        text-decoration: none;
        font-size: 15px;
        padding: 8px 10px;
        display: inline-block;
        &:hover{
            background-color: darken(getColor(green), 5%);
        }
        i{
            margin-left: 5px;
        }
    }
    &__list{
        text-align: left;
        display: inline-block;
        padding: 30px 0;
    }
    &__item{
        position: relative;
        padding: 3px 0 3px 15px;
        &:before{
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            left: 0px;
            top: 50%;
            margin-top: -3px;
            background-color: getColor(white);
            border-radius: 50%;
        }
    }
    &__link{
        font-size: 14px;
        color: inherit;
        text-decoration: none;
    }
}