.drop{
    &__item{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 110px;
        & + &{
            margin-left: 10px;
        }
    }
    &__trigger{
        position: relative;
        cursor: pointer;
        line-height: 20px;
        &._active + .drop__inner{
            display: block;
            z-index: 20;
        }
        i{
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -5px;
        }
    }
    &__inner{
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        padding-top: 5px;
        z-index: 2;
    }
    &__list{
        border-radius: 3px;
        background-color: getColor(gray);
        box-shadow: 1px 2px 2px rgba(getColor(black), 0.3);
        border: 1px solid getColor(gray-dark-1);
        width: 150px;
        overflow: hidden;
    }
    &__value{
        display: block;
        padding: 5px 10px;
        cursor: pointer;
        &:hover{
            background-color: getColor(blue);
            color: getColor(white);
        }
    }
    @media screen and (max-width: $screen-sm-max) {
        margin-bottom: 10px;
    }
}