.header{
    padding: 27px 0 16px;
    &__logo{
        padding-top: 11px;
        @media screen and (max-width: $screen-sm-max) {
            text-align: center;
            margin-bottom: 10px;
        }
    }
    &__right{
        @media screen and (min-width: $screen-md-min) {
            text-align: right;
        }
    }
    &__inner{
        @media screen and (max-width: $screen-sm-max) {
            text-align: center;
        }
    }
}