.login{
    @media screen and (min-width: $screen-md-min) {
        display: inline-block;
        vertical-align: middle;
    }
    @media screen and (max-width: $screen-sm-max) {
        margin-bottom: 10px;
    }
    &__item{
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        padding-left: 5px;
        & + &{
            border-left: 1px solid getColor(gray-dark-2);
        }
    }
    &__link{
        color: inherit;
        text-decoration: none;
        &:hover{
            color: getColor(blue);
        }
    }
}