.menu{
    background-color: getColor(white);
    padding-bottom: 2px;
    box-shadow: 0 4px 3px rgba(getColor(black), 0.2);
    position: relative;
    z-index: 3;
    &__wrap{
        background-color: getColor(green);
    }
    &__list{

    }
    &__item{
        @media screen and (min-width: $screen-md-min) {
            float: left;
        }
    }
    &__link{
        font-family: $normalized_font_family_second;
        text-transform: uppercase;
        font-size: 17px;
        color: getColor(white);
        text-decoration: none;
        display: block;
        padding: 15px 10px;
        text-shadow: 1px 1px 1px rgba(getColor(black), 0.8);
        &:hover{
            background-color: getColor(blue);
        }
    }
}