.minicart{

    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
    @media screen and (min-width: $screen-md-min){
        border-left: 1px solid getColor(gray-dark-2);
    }
    &:hover{
        color: getColor(blue);
        & &__value{
            color: getColor(blue);
        }
    }
    &__icon{
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        color: getColor(white);
        background-color: getColor(green);
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        text-shadow: 0 1px 2px rgba(getColor(black), 0.8);
        margin-right: 5px;
    }
    &__value{
        display: inline-block;
        vertical-align: middle;
    }
}