.search{
    display: inline-block;
    height: 34px;
    border: 1px solid getColor(gray-dark-2);
    background-color: getColor(gray-dark-1);
    position: relative;
    margin-bottom: 12px;
    @media screen and (min-width: $screen-md-min) {
        width: 307px;
    }
    @media screen and (max-width: $screen-sm-max) {
        width: 100%;
    }
    &__field{
        border: none;
        height: 100%;
        background: none;
        display: block;
        width: 100%;
        padding-right: 54px;
        padding-left: 10px;
        color: getColor(blue);
        &:focus, &:active{
            outline: none;
        }
        &::-webkit-input-placeholder {color:getColor(blue);}
        &::-moz-placeholder          {color:getColor(blue);}
        &:-moz-placeholder           {color:getColor(blue);}
        &:-ms-input-placeholder      {color:getColor(blue);}
    }
    &__btn{
        width: 44px;
        border: none;
        border-left: 1px solid getColor(gray-dark-2);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: getColor(gray-dark-1);
        color: getColor(gray-dark-3);
    }
}