.slider{
    &__item{
        .container{
            position: relative;
        }
    }
    &__pic{
        img{
            display: block;
            max-width: 100%;
        }
    }
    &__title{
        color: getColor(green);
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0;
        text-align: center;
        padding: 5px 0;
        &._blue{
            color: getColor(blue);
        }
    }
    @media screen and (min-width: $screen-md-min) {
        &__inner{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        &__wrap{
            display: table;
            vertical-align: middle;
            width: 100%;
            height: 100%;
        }
        &__align{
            display: table-cell;
            vertical-align: middle;
        }
    }

}