.top{
    background-color: getColor(gray);
    padding: 10px 0;
    box-shadow: 0 2px 2px rgba(getColor(black), 0.2);
    &__list{
        line-height: 1;
        @media screen and (min-width: $screen-md-min) {
            text-align: right;
        }
    }
    &__item{
        display: inline-block;
        vertical-align: middle;
        & + &{
            border-left: 1px solid getColor(gray-dark);
            margin-left: 5px;
            padding-left: 5px;
        }
    }
    &__link{
        color: inherit;
        text-decoration: none;
        line-height: 20px;
        display: inline-block;
        &:hover{
            color: getColor(blue);
        }
    }
    @media screen and (max-width: $screen-sm-max) {
        text-align: center;
    }
}