doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
        // bower:css
        // run gulp inject to automatically populate bower styles dependencies
        // endbower
        // inject:css
        // css files will be automatically insert here
        // endinject
        block title
            title Cherry Shop
    body
        block content
        script(src="js/build.js")
        // bower:js
        // run gulp inject to automatically populate bower script dependencies
        // endbower
        // inject:js
        // js files will be automatically insert here
        // endinject
